
h1 {
  font-size: 30;
  text-align: center;
}
p {
  font-size:16;
}
h2 {
  font-size: 20;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 20;
  font-weight: bold;
  text-align: center;
}
h4 {
font-size: 20;
font-weight: bold;
}
h5{
  font-size: 20;
  font-weight: bold;
}
h6{
  font-size: 20;
  font-weight: bold;
}
h7{
  font-size: 20;
  font-weight: bold;
}
