
h1 {
  font-size: 30;
  text-align: center;
}
p {

}
h2 {
  font-size: 20;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 20;
  font-weight: bold;
  text-align: center;
}
